<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>



    <!--配置Log4j日志-->
  <settings>
      <setting name="logImpl" value="LOG4J"/>
  </settings>

    <typeAliases>

        <!--<typeAlias type="com.ysu.pojo.UserInfo" alias="user"></typeAlias>-->
      <!--<typeAlias type="com.ysu.pojo.Dept" alias="dept"></typeAlias>-->
      <!--<typeAlias type="com.ysu.pojo.Emp" alias="emp"></typeAlias>-->
    </typeAliases>



</configuration>
